#logo {
  position: relative;
  object-fit: scale-down;
  display:block;
  width:400px;
  /*width:35%;
  width: 35vw;*/
  height:auto;
  align:center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  padding-bottom:5%;
}

@media (max-width:500px;){
  #logo{
    width:200px;
  }
}

.circle2{
  border-radius: 50%;
  height:2em;
  width:2em;
  background-color: black;
  display: inline-block;
  border: solid 2px white;
  background-color: rgba(0,0,0,0);
}

#circleB{
  background-color:white;
}

.circle2:hover{
  cursor:pointer;
  /*PLAY fading ANIMATION*/
  animation: circle_fade_in 1s forwards;
}

@keyframes circle_fade_in{
  to {background-color: white;}
}

.intro {
  position:static;
  text-align: center;
  font-family: Verdana;
  font-size: 150%;
  object-fit: scale-down;
}

#index_page{
  height: 100%;
  /*background-color: rgb(66, 152, 245);*/
  background: linear-gradient(8deg, rgba(40, 30, 212, 1) 0%, rgba(66,152,245,1) 33%, rgba(0,255,252,1) 100%);
}

#_3nrgy_page{
  height: 100%;
  /*background-color: rgb(240, 113, 185);*/
  background: linear-gradient(23deg, rgba(191, 47, 200, 100)10%, rgba(255, 78, 179, 100)42%, rgba(247, 78, 179, 100)64%, rgba(78, 147, 255, 100)96%);
}

#about_me_page{
  height:100%;
  background-color: rgb(252, 168, 0);
}

@keyframes movingback{
  from {background-color: rgb(208, 208, 208);}
  to {background-color: rgb(66, 152, 245);}
}

@keyframes fade_in{
  from{opacity:0;}
  to {opacity:1;}
}

body {
  margin: 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0;
  animation:fade_in 2s forwards;
}

#container{
  position: relative;
  min-height:600px;
  height: auto !important;
  height:600px;
}

html{
  height: 100%;
}
