.title {
  text-align: center;
  color: black;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 50px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  object-fit: scale-down;
  display: block;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: scale-down;
}

.intro {
  text-align: center;
  font-family: Verdana;
  font-size: 150%;
  object-fit: scale-down;
}

.button{
  color:black;
  font-size: 150%;
  background-color:white;
  border:none;
  position:relative;
  display: inline-block;
  padding: 1%;
  border-right: 2px solid rgb(169, 169, 169);
}

.button:hover{
  cursor:pointer;
  background-color: rgb(192,192,192);
}

button:disabled{
  background-color: rgb(192,192,192);
}

a{
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 2em;
  margin: -2em;
}

#navbarback{
  background-color: white;
  height:50%;
  top:0;
  left:0;
  z-index: 1;
}

.linktopages{
  text-decoration: none;
  color:black;
  font-weight:lighter;
  font-family: 'Exo 2';
}

#background{
  height: 100%;
  background: lightgray;
  /*background: linear-gradient(to bottom right, rgb(245, 245, 245), #C0C0C0);*/
  animation: movingback 5s infinite;
  animation-direction: alternate-reverse;
}

@keyframes movingback{
  from {background-color: rgb(208, 208, 208);}
  to {background-color: rgb(235, 235, 235);}
}

body {
  margin: 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer{
  position: fixed;
  bottom: 0;
  text-align:center;
  width: 100%;
  background-color: white;
  font-size: 130%;
  font-family: 'Exo 2';
  font-variant: small-caps;
  height: 10%; /*to ensure footer is minimised when resized*/
}

#container{
  position: relative;
  min-height:600px;
  height: auto !important;
  height:600px;
}
